{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/themes/base.css") }}" />
    <script type="application/ecmascript" src="{{ url_for('static', filename="assets/baseHeader.js") }}"></script>
{% endblock %}

{% block header %}
    <header id="base-header">
        <div id="base-header-left">
            <a href="/" id="site-title">
                <img id="header-logo" src="{{ url_for('static', filename="static/branding/header-logo.svg") }}" alt="Archipelago" />
            </a>
        </div>
        <div id="base-header-right">
            <a href="{{ url_for("games") }}">Games</a>
        </div>
        <div id="base-header-right-mobile">
            <a href="{{ url_for("games") }}">Games</a>
        </div>
    </header>
{% endblock %}
